// books

.books {
  list-style: none;
  padding: 0;

  li {
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;

  input {
    border: 0;
  }
}

.book_form {
  list-style: none;
  overflow-y: auto;

  input {
    width: auto;
  }

  li {
    display: inline-block;
  }
}

// follow form

#follow_form {
  input {
    margin-bottom: 0;
  }
}
