// books

.books {
  list-style: none;
  padding: 0;

  li {
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;

  input {
    border: 0;
  }
}

.book_form {
  list-style: none;
  // overflow-y: auto;
  li {
    display: inline-block;
  }
}

// follow form

#follow_form {
  input {
    margin-bottom: 0;
  }
}

// button

$green-cuong: #00ab6b;

.btn-primary {
  @include button-variant($green-cuong, darken($green-cuong, 7.5%), darken($green-cuong, 10%), lighten($green-cuong,5%), lighten($green-cuong, 10%), darken($green-cuong,30%));
}

.btn-outline-primary {
  @include button-outline-variant($green-cuong, #222222, lighten($green-cuong,5%), $green-cuong);
}
